<h3>{{ data.filter }}</h3>

<div cdkDropList
     class="example-list"
     (cdkDropListDropped)="drop($event)">
  <div class="example-box"
       [attr.data-id]="item.id"
       *ngFor="let item of items$ | async"
       cdkDrag>
    <div class="example-custom-placeholder"
         *cdkDragPlaceholder></div>
    <mat-icon>reorder</mat-icon>

    <span>{{item.name}}</span>
    <mat-divider></mat-divider>
    <div *ngIf="item.project && !item.editingProject">{{ item.project }}


    </div>
    <app-project-edit *ngIf="item.editingProject"
                      toDoId="{{ item.id }}"></app-project-edit>
    <span *ngIf="!item.project  && !item.editingProject ">No Project</span>
    <button mat-icon-button
            color="primary"
            aria-label="Example icon button with a menu icon"
            *ngIf="!item.editingProject"
            (click)="editProject(item.id)">
      <mat-icon>edit</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <app-duedate-edit *ngIf="item.editingDate"
                      toDoId="item.id"></app-duedate-edit>
    <span *ngIf="item.dueDate">{{ item.dueDate | date:'shortDate'  }} {{ item.dueDate | date:'shortTime' }}</span>
    <span *ngIf="!item.dueDate">No Due Date</span>
    <button mat-icon-button
            color="primary"
            aria-label="Example icon button with a menu icon"
            (click)="editDate(item.id)">
      <mat-icon>edit</mat-icon>
    </button>
    <mat-divider></mat-divider>

    <button mat-button
            *ngIf="!item.completed"
            [attr.data-id]="item.id"
            (click)="markComplete(item.id)">
      <mat-icon>radio_button_unchecked</mat-icon>
    </button>

    <button mat-button
            *ngIf="item.completed"
            [attr.data-id]="item.id"
            (click)="markIncomplete(item.id)">
      <mat-icon>radio_button_checked</mat-icon>
    </button>

    <!-- <span>
      <app-project-edit></app-project-edit>
      <app-duedate-edit></app-duedate-edit>
    </span>
  </div>-->

  </div>


  <button mat-button
          (click)="done()"
          color="primary">Close</button>
